# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/
.vs/
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db